#contato{
    margin: 187px auto 0;
    min-width: 320px;
    max-width: 750px;
    text-align: center;
}

#emailForm{
    margin-top: 50px;
}

main button{
    background-color: rgb(106, 144, 228)!important;
    width: 350px!important;
    margin: 50px auto;
}

#contato button:hover{
    background-color: rgb(31, 95, 231)!important;
}
.col-map {
    padding: 0;
    border: 1px solid #000;
}