#projetos{
    margin: 87px auto 0px;
}

.card img {
    max-height: 400px;
}

#cards{
    min-height: 100vh;
    min-width: 100vh;
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
    padding: 50px;
}

#titleProjetos{
    background-color: rgb(43, 103, 235);
    color:rgb(255, 255, 255)
}