*{
  font-family: 'JetBrains Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 500;
  color: black;
  font-weight: bold;
  border-bottom: solid 4px transparent;
}

.nav-link:hover {
  border-bottom: solid 4px rgb(151, 151, 151);
  color: rgb(151, 151, 151)
}